mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: transparent;
}

mat-sidenav {
  width: 300px;
  border-right: none;
  background-color: #FFF4EA;
}

.content {
  height: calc(100vh - 64px);
  border-radius: 10px;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.menu-list-item {
  border-bottom: 1px solid rgb(179, 179, 179);
  cursor: pointer;
}

.menu-list-item:hover {
  background-color: #FFEAD7;
}

.icon-profile {
  --size: 120px;
  font-size: var(--size);
  height: var(--size);
  width: var(--size);
}