<mat-toolbar color="warn">
  <button mat-icon-button (click)="this.toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>AC Guanacaste</span>
  <span class="spacer"></span>
  <button matTooltip="Cerrar sesión" mat-icon-button (click)="this.logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="this.MenuState">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12 text-center">
          <mat-icon class="icon-profile" color="primary">
            account_circle
          </mat-icon>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <h2 class="mb-0 text-dark">Menú</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <a class="text-decoration-none text-dark menu-list-item w-100 d-block mt-2 p-2" *ngFor="let item of this.Menu" [routerLink]="[item.link]"
            [routerLinkActive]="['active']">
            <h3 class="mb-0">
              {{ item.label }}
            </h3>
          </a>

        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>