<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h1 class="text-primary">Administrar Áreas Turisticas</h1>
    </div>
  </div>

  <div class="row mt-4 align-items-center">
    <div class="col-12 col-sm-5 col-md-4 col-xl-2">
      <mat-form-field class="w-100 text-secondary" appearance="fill" color="warn">
        <span mat-icon-button matPrefix (click)="this.search()">
          <mat-icon>search</mat-icon>
        </span>
        <mat-label>Buscador</mat-label>
        <input id="filter" matInput placeholder="Buscar Nombre" [formControl]="this.searchControl" (keyup.enter)="this.search()">
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-3 col-md-2 col-xl-2 offset-sm-4 offset-md-6 offset-xl-8 mt-3 mt-sm-0">
      <a id="create" routerLink="create" queryParamsHandling="preserve" mat-flat-button color="primary"
        class="btn-block p-3 rounded-lg text-decoration-none"  matTooltip="Crear nuevo">
        <h3 class="mb-0">Crear Área</h3>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <mat-spinner *ngIf="this.isLoading;else loaded" class="m-auto"></mat-spinner>
      <ng-template #loaded>
        <mat-table [dataSource]="this.Data" class="w-100">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
              <h3 class="mb-0">Título</h3>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-dark pl-0" data-label="Título">
              {{element.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type_area">
            <mat-header-cell *matHeaderCellDef>
              <h3 class="mb-0">Tipo de Área</h3>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-dark" data-label="Tipo de Área">
              {{element.type_tourist_area.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <h3 class="mb-0">Acciones</h3>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-dark" data-label="Acciones">
              <a mat-icon-button class="text-warning mr-3" matTooltip="Editar" [routerLink]="[element.id,'update']">
                <mat-icon>
                  create
                </mat-icon>
              </a>

              <button mat-icon-button class="text-secondary" matTooltip="Borrar" (click)="this.delete(element)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="this.Columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: this.Columns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="this.pagination.count" [pageSize]="this.pagination.size"
          [pageSizeOptions]="[25, 50, 100]" (page)="onPageChanged($event)">
        </mat-paginator>
      </ng-template>
    </div>
  </div>

</div>