/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e4eae7,
    100 : #bccac3,
    200 : #8fa69b,
    300 : #628273,
    400 : #387B5C,
    500 : #1f4d37,
    600 : #1b4631,
    700 : #173d2a,
    800 : #123423,
    900 : #0a2516,
    A100 : #63ffa1,
    A200 : #30ff83,
    A400 : #00fc65,
    A700 : #00e25a,
    contrast: (
        50 : #6B7078,
        100 : #6B7078,
        200 : #6B7078,
        300 : #FFEAD7,
        400 : #FFEAD7,
        500 : #FFEAD7,
        600 : #FFEAD7,
        700 : #FFEAD7,
        800 : #FFEAD7,
        900 : #FFEAD7,
        A100 : #6B7078,
        A200 : #6B7078,
        A400 : #6B7078,
        A700 : #6B7078,
    )
);

$md-warn: (
    50 : #f8ede3,
    100 : #eed2ba,
    200 : #e2b58c,
    300 : #d6975e,
    400 : #ce803c,
    500 : #ce803c,
    600 : #bf6216,
    700 : #b85712,
    800 : #b04d0e,
    900 : #a33c08,
    A100 : #ffddcf,
    A200 : #ffb89c,
    A400 : #ff9369,
    A700 : #ff8150,
    contrast: (
        50 : #6B7078,
        100 : #6B7078,
        200 : #6B7078,
        300 : #6B7078,
        400 : #6B7078,
        500 : #eed2ba,
        600 : #D98E4C,
        700 : #D98E4C,
        800 : #D98E4C,
        900 : #D98E4C,
        A100 : #6B7078,
        A200 : #6B7078,
        A400 : #6B7078,
        A700 : #6B7078,
    )
);

$md-accent: (
    50 : #e8e9ea,
    100 : #c7c9cc,
    200 : #a1a5aa,
    300 : #7b8087,
    400 : #5f656e,
    500 : #434a54,
    600 : #3d434d,
    700 : #343a43,
    800 : #2c323a,
    900 : #1e2229,
    A100 : #72aaff,
    A200 : #3f8cff,
    A400 : #0c6dff,
    A700 : #0061f1,
    contrast: (
        50 : #6B7078,
        100 : #6B7078,
        200 : #6B7078,
        300 : #FFEAD7,
        400 : #FFEAD7,
        500 : #FFEAD7,
        600 : #FFEAD7,
        700 : #FFEAD7,
        800 : #FFEAD7,
        900 : #FFEAD7,
        A100 : #6B7078,
        A200 : #6B7078,
        A400 : #FFEAD7,
        A700 : #FFEAD7,
    )
);

