@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

$border-radius-lg: 25px;
$primary:#1f4d37;
$primary-light:#8BC7AB;
$secondary:#c56a19;
$secondary-light:#FFEAD7;
$dark:#6B7078;
$warn:#c56a19;
$light:#FFFCF8;
$body-bg: $light;
$background:#FFEAD7;

$theme-colors: (primary: $primary,
  primary-light: $primary-light,
  light: $light,
  dark: $dark,
  secondary: $secondary,
  secondary-light: $secondary-light);


// material
.mat-table {
  background-color: transparent;
}

tr.mat-header-row {
  height: 45px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $background;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  -moz-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.mat-toolbar {
  background-color: $secondary-light !important;
  color: $secondary !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-flex {
  border-radius: 50px !important;
}

.mat-form-field-underline {
  display: none;
}

.ck-toolbar {
  background-color: $background !important;
  color: red !important;
}

.ck-icon {
  color: $warn !important;
}

.ck-content {
  height: 300px;
}

.mat-paginator {
  background-color: transparent;
}


@media screen and (max-width: 960px) {
  h1{
    font-size: 1.6em!important;
  }

  h2{
    font-size: 1.4em!important;
  }

  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    
    font-size: .85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

/* finally, import Bootstrap */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// bootstrap styles







// toaster styles 

// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '~ngx-toastr/toastr-bs4-alert';